@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan dikit biar scrollbar-nya cantik di Chrome/WebView */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}